@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;600&display=swap');

@font-face {
    font-family: 'Big Calson Medium';
    font-weight: 200;
    src:
        url('../fonts/Big_Caslon_Medium/Big_Caslon_Medium.woff2') format('woff2');

}

body {
    background-color: #FEFEFF;
    overflow-x: hidden;
    /* //height: 100vw; */
    margin: 0;
}

p {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 100%;
    margin: 0;
}

a {
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
}

h1 {
    font-family: 'Big Calson Medium', serif;
    /* font-family: 'Crimson Text', serif; */


    font-weight: 200;
    font-size: 550%;
    margin: 0;

}

h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 180%;
    margin: 0;
}

h4 {
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-size: 100%;
    margin: 0;
}

h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-size: 125%;
}

h5 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 250%;
}

.menu {
    background-color: #f4eee9;
    width: 100vw;
    height: 15vh;
}

.menu a {
    text-decoration: none !important;
    color: black;
}

.menu-open a {
    text-decoration: none !important;
    color: black;
}

.page-sommaire a {
    text-decoration: none !important;
    color: black;
}

.sous-title-menu {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    margin-top: 3vh;
    margin-left: 4vw;
}

.title-menu {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: stretch;
    align-content: stretch;
    width: 50vw;
    margin-top: 3vh;
    margin-right: 3vw;

}

.flex-menu {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;
}

.student {
    margin-top: -1.5vh;
}

.page-info {
    width: 100vw;
    height: 80vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    /* align-items: center; */
    align-content: stretch;
}

.photo-info {
    /* background-color: #f4eee9; */
    width: 70vh;
    height: 70vh;
    border-radius: 100%;
    margin-top: 6vh;
    margin-left: 5vw;
    background-image: url("../images/image_1.jpg");
    background-position: center;
    background-size: 75vh;

}

.text-info {
    width: 30vw;
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    justify-content: center;
    margin-left: 10vw;
}

.cv {
    margin-top: 2vh;
}

a {
    color: #8c3e9c;
}

.name-info {
    margin-top: -24vh;
    margin-left: 5vw;
}

.page-sommaire {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    /* align-items: center; */
    align-content: stretch;
    position: relative;

}

.rect {
    background-color: #e9e3de;
    border-radius: 5px;
    padding: 8px;

}

.rect1 img {
    width: 20vw;
}

.rect1 {
    position: absolute;
    z-index: 1;
    margin-top: 10vw;
}

.rect2 img {
    width: 20vw;
}


.rect2 {
    position: absolute;
    margin-left: 10vw;
    z-index: 2;
    margin-top: 37vh;
    margin-left: 15vw;
}

.rect3 img {
    height: 15vw;
}

.rect3 {
    position: absolute;
    z-index: 3;
    margin-top: 54vh;
    margin-left: 8vw;
}

.titre-sommaire {
    width: 50vw;
    margin-left: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}

.page-title-projet-3D {
    width: 100vw;
    height: 100vh;
    background-color: #e9e3de;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    /* align-items: center; */
    align-content: stretch;
}

.title-projet-3D h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 500%;
    margin: 0;
}

.title-projet-3D {
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
}


.image-projet-3D {
    position: relative;
    margin-top: 10vh;

}

.image-projet-3D img {
    box-shadow: 5px 5px 3px #4f4c4a;

}

.img1 img {
    width: 20vw;
}

.img1 {
    position: absolute;
    margin-left: 18vw;
}

.img2 img {
    width: 20vw;
}

.img2 {
    position: absolute;
    margin-top: 15vh;
    margin-left: 2vh;
}


.img3 img {
    width: 23vw;
}

.img3 {
    position: absolute;
    margin-top: 33vh;
    margin-left: 32vh;
}

.img4 img {
    width: 13vw;
}

.img4 {
    position: absolute;
    margin-top: 48vh;
    margin-left: 14vh;
}




.page-projet {
    width: 100vw;
    height: 100vh;
}

.flex-projet {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    padding-top: 13vh;
}

.title-projet {
    margin-left: 3vw;
    padding-top: 5vh;
}

.title-projet h2 {
    font-size: 350%;
    font-weight: 500;
}

.explication-projet {
    width: 35vw;
}

.explication-projet p {
    font-size: 125%;
    font-weight: 300;
}

.video {
    background-color: #e9e3de;
    border-radius: 5px;
    padding: 10px;
}

.image-projet img {
    width: 40vw;
}

.image-projet {
    background-color: #e9e3de;
    border-radius: 5px;
    padding: 10px;
}


.page-title-projet-programmation {
    width: 100vw;
    height: 100vh;
    background-color: #e9e3de;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    /* align-items: center; */
    align-content: stretch;
}

.title-projet-programmation h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 450%;
    margin: 0;
}

.title-projet-programmation {
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
}


.image-projet-programmation {
    position: relative;
    margin-top: 17vh;

}

.image-projet-programmation img {
    box-shadow: 5px 5px 3px #4f4c4a;

}


.img1-prog img {
    width: 25vw;
}

.img1-prog {
    position: absolute;
    margin-left: 5vw;
}

.img2-prog img {
    width: 25vw;
}

.img2-prog {
    position: absolute;
    margin-top: 42vh;
    margin-left: 5vh;
}


.img3-prog img {
    width: 28vw;
}

.img3-prog {
    position: absolute;
    margin-top: 20vh;
    margin-left: 37vh;
}

.page-contact {
    width: 100vw;
    height: 100vh;
}

.icon-text {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    text-align: center;
    /* align-items: center;
    align-content: center; */
}

.icon img {
    width: 100px;
}

.icon {
    margin-bottom: 3vh;
}

.page-contact {
    background-color: #e9e3de;
    width: 100vw;
    height: 100vh;

}


.title-contact {
    text-align: center;
    padding-top: 25vh;
    padding-bottom: 10vh;
}


.titre-sommaire a:hover {
    color: #e9e3de;
}


.title-menu a {
    position: relative;
}

.title-menu h3 {
    margin-bottom: 0;
}

.title-menu a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 4px;
    background-color: #18272F;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

.title-menu a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}


.bar {
    background-color: black;
    height: 2px;
    width: 50px;
    margin-bottom: 13px;
    transition: 0.5s ease-out;
}

.bar-3 {
    width: 30px;
}

.menu-wrap:hover .bar-3 {
    width: 50px;
    transition: 0.2s ease-out;
}

.menu-wrap {
    position: fixed;
    width: 100px;
    height: 100px;
    top: 3vh;
    right: 0vw;
    cursor: pointer;
    z-index: 10;
}

.flex-bar {

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: baseline;
    align-content: stretch;
    margin-top: 2vh;
}

.menu-toute-page {
    display: none;
}

.menu-active {
    transform: translateY(0vh) !important;
    transition: 1s;
    /* mix-blend-mode: multiply; */
}

.menu-open {
    position: fixed;
    background-color: #e9e3de;
    /* opacity: 0.9; */
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: 15vh;
    /* width: 100vw;
    height: 100vh; */
    /* display: flex;
    align-items: center;
    justify-content: center; */
    z-index: 9;
    transition: 1s;
    transform: translateY(-100vh);
    transition: 0.7s;
}

.menu-active .bar {
    background-color: #E03430;
}