

body{
    background-color: #f7eddc;
    color: black;
    font-family: 'Source Serif 4', sans-serif;
    overflow-x: hidden; 
}
h1.title{
    font-size: 5em;
    text-align: center;
    margin-top: 12%;
    margin-left: 4%;
}

h2.title{
    font-size: 3em;
    text-align: center;
    margin-top: -2.5%;
    margin-left: 4%;
}

a{
    color: black;
}

.lien{
    display: flex;
    justify-content: space-between;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 1.5%;
}

.domaine{
    display: flex;
    justify-content: space-between;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 8%;
}

/*--------------------*/
/*-----TRANSITION---------*/
/*--------------------*/

.transition {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30vh;
    left:40%;
    top:65%;
    position: absolute;
    opacity:0;
    z-index: -1;
}

.appear{
    opacity:1;
}
   
.chevron {
     position: absolute;
     margin-left:15% ;
     width: 1.2em;
     height: 0.3em;
     opacity: 0;
     transform: scale(0.3);
     animation: move-chevron 3s ease-out infinite;
}
   
.chevron:first-child {
     animation: move-chevron 3s ease-out 1s infinite;
}
   
.chevron:nth-child(2) {
     animation: move-chevron 3s ease-out 2s infinite;
}
   
.chevron:before,
.chevron:after {
    content: '';
    position: absolute;
    top: 0;
    height: 100%;
    width: 50%;
    background: black;
}
   
.chevron:before {
    left: 0;
    transform: skewY(30deg);
}
   
.chevron:after {
    right: 0;
    width: 50%;
    transform: skewY(-30deg);
}
   
@keyframes move-chevron {
    25% {
     opacity: 1;
       }
    33.3% {
     opacity: 1;
     transform: translateY(3.8vw);
    }
    66.6% {
     opacity: 1;
     transform: translateY(5.2vw);
    }
    100% {
     opacity: 0;
     transform: translateY(8vw) scale(0.5);
    }
}


h2.shader_lab{
    font-size: 3em;
    margin-left: 10%;
    margin-top: 10%;
    margin-right: 40%;
    margin-bottom: 3%;
    clear: both;

    
}


.image_ex{
    max-width: 40%;
    max-height: 40%;
    float: left;
    margin-left: 10%;
    margin-right: 5%;
    margin-bottom: 15%;
}

h3.shader_lab
{
    margin-right: 10%;
    line-height: 1.5em;
    margin-top: 6%;
}


h2.bubble_run{
    clear: both;
    font-size: 3em;
    margin-left: 10%;
    margin-top: 15%;
    margin-right: 40%;
    margin-bottom: 3%;

    
}

h3.bubble_run
{
    margin-right: 10%;
    line-height: 0em;
    margin-top: 8%;
}

h2.magenta_js{
    clear: both;
    font-size: 3em;
    margin-left: 10%;
    margin-top: 15%;
    margin-right: 40%;
    margin-bottom: 3%;

    
}

h3.magenta_js{
    margin-right: 10%;
    margin-top: 7%;
}


h2.recoding{
    clear: both;
    font-size: 3em;
    margin-left: 10%;
    margin-top: 15%;
    margin-right: 40%;
    margin-bottom: 3%;

    
}

h3.recoding{
    margin-right: 10%;
    margin-top: 12%;
}


h2.visuterrimac{
    clear: both;
    font-size: 3em;
    margin-left: 10%;
    margin-top: 15%;
    margin-right: 40%;
    margin-bottom: 3%;

}

h3.visuterrimac{
    margin-right: 10%;
    margin-top: 6%;
}
